pkgbase = blanca-bin
	pkgdesc = Clipboard history bezel for Omarchy and Hyprland, a Go port of Jumpcut
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/ezapmar/blanca
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = wl-clipboard
	depends = wtype
	depends = xdg-terminal-exec
	optdepends = hyprland: keybinding, autostart and floating window rules
	provides = blanca
	conflicts = blanca
	options = !strip
	source_x86_64 = https://github.com/ezapmar/blanca/releases/download/v0.2.0/blanca-v0.2.0-linux-amd64.tar.gz
	sha256sums_x86_64 = 03941cdff14755afdaa85f7c40f65d7b5a95ee0774fba08803e5d2c41292d385
	source_aarch64 = https://github.com/ezapmar/blanca/releases/download/v0.2.0/blanca-v0.2.0-linux-arm64.tar.gz
	sha256sums_aarch64 = 3a9d096f83fb70108941e6d4a3920f7c5eb65838dbfa3e4c847a53bd5119d040

pkgname = blanca-bin
