pkgbase = blanca-bin
	pkgdesc = Clipboard history bezel for Omarchy and Hyprland
	pkgver = 0.3.2
	pkgrel = 1
	url = https://github.com/ezapmar/blanca
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = wl-clipboard
	depends = wtype
	depends = xdg-terminal-exec
	optdepends = hyprland: keybinding, autostart and floating window rules
	provides = blanca
	conflicts = blanca
	options = !strip
	source_x86_64 = https://github.com/ezapmar/blanca/releases/download/v0.3.2/blanca-v0.3.2-linux-amd64.tar.gz
	sha256sums_x86_64 = 7ec67c1fda2a6c1d8792bbefaf0c4835d8d231100c68398cd6d0fa454b25feb5
	source_aarch64 = https://github.com/ezapmar/blanca/releases/download/v0.3.2/blanca-v0.3.2-linux-arm64.tar.gz
	sha256sums_aarch64 = 5f396373cb33f3fcc33117474369a48c57b9cb1758b9ecd29855c8a3a66e9845

pkgname = blanca-bin
