pkgbase = blanca-bin
	pkgdesc = Clipboard history bezel for Omarchy and Hyprland, a Go port of Jumpcut
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/ezapmar/blanca
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = wl-clipboard
	depends = wtype
	depends = xdg-terminal-exec
	optdepends = hyprland: keybinding, autostart and floating window rules
	provides = blanca
	conflicts = blanca
	options = !strip
	source_x86_64 = https://github.com/ezapmar/blanca/releases/download/v0.1.4/blanca-v0.1.4-linux-amd64.tar.gz
	sha256sums_x86_64 = a561fc4a9ef53d7b0f2d7cb699f68e0d82fd23982960d7a723f34a32bfce8da5
	source_aarch64 = https://github.com/ezapmar/blanca/releases/download/v0.1.4/blanca-v0.1.4-linux-arm64.tar.gz
	sha256sums_aarch64 = 5bd7b674a6af0c4019c6aa212b22d4d095e5a9a03fa189af017dfaf753c5174a

pkgname = blanca-bin
